//
// Icons
// --------------------------------------------------

// Glyphish Outlined
@font-face {
	font-family: 'Glyphish';
	src: url('../fonts/glyphish-outlined.eot');
	src: url('../fonts/glyphish-outlined.eot#iefix') format('embedded-opentype'),
	     url('../fonts/glyphish-outlined.woff') format('woff'),
	     url('../fonts/glyphish-outlined.ttf') format('truetype'),
	     url('../fonts/glyphish-outlined.svg#SSGlyphishOutlined') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Glyphish Filled
@font-face {
	font-family: 'Glyphish';
	src: url('../fonts/glyphish-filled.eot');
	src: url('../fonts/glyphish-filled.eot#iefix') format('embedded-opentype'),
	     url('../fonts/glyphish-filled.woff') format('woff'),
	     url('../fonts/glyphish-filled.ttf') format('truetype'),
	     url('../fonts/glyphish-filled.svg#SSGlyphishFilled') format('svg');
	font-weight: bold;
	font-style: normal;
}

// Base
.icon {
	.icon();
}

// Icons (Font)
.icon( cursor,             "" );
.icon( crosshair,          "⌖" );
.icon( search,             "🔎" );
.icon( zoomin,             "" );
.icon( zoomout,            "" );
.icon( view,               "👁" );
.icon( binoculars,         "" );
.icon( incognito,          "" );
.icon( radar,              "" );
.icon( attach,             "📎" );
.icon( link,               "🔗" );
.icon( write,              "✎" );
.icon( compose,            "📝" );
.icon( lock,               "🔒" );
.icon( lock,               "🔓" );
.icon( combinationlock,    "" );
.icon( key,                "🔑" );
.icon( keyhole,            "" );
.icon( vip,                "" );
.icon( trash,              "🗑" );
.icon( target,             "◎" );
.icon( bullseye,           "🎯" );
.icon( lightning,          "☇" );
.icon( radioactive,        "☢" );
.icon( skull,              "💀" );
.icon( skullandcrossbones, "☠" );
.icon( tag,                "🏷" );
.icon( tags,               "" );
.icon( pricetag,           "" );
.icon( flag,               "⚑" );
.icon( like,               "👍" );
.icon( dislike,            "👎" );
.icon( heart,              "♥" );
.icon( star,               "⋆" );
.icon( archive,            "🗃" );
.icon( badge,              "📛" );
.icon( trophy,             "🏆" );
.icon( medal,              "🎖" );
.icon( crown,              "👑" );
.icon( layers,             "" );
.icon( layergroup,         "" );
.icon( cut,                "✂" );
.icon( magicwand,          "" );
.icon( clipboard,          "📋" );
.icon( ruler,              "📏" );
.icon( brush,              "" );
.icon( paintroller,        "" );
.icon( rubberstamp,        "" );
.icon( palette,            "🎨" );
.icon( phone,              "📞" );
.icon( voicemail,          "⌕" );
.icon( megaphone,          "📢" );
.icon( at,                 "@" );
.icon( reply,              "↩" );
.icon( replyall,           "" );
.icon( mailbox,            "📫" );
.icon( send,               "🖅" );
.icon( mail,               "✉" );
.icon( inbox,              "📥" );
.icon( stamp,              "" );
.icon( chat,               "💬" );
.icon( chats,              "🗪" );
.icon( ellipsischat,       "" );
.icon( ellipsis,           "…" );
.icon( smile,              "☻" );
.icon( user,               "👤" );
.icon( femaleuser,         "👧" );
.icon( users,              "👥" );
.icon( baby,               "👶" );
.icon( alien,              "👽" );
.icon( ghost,              "👻" );
.icon( footsteps,          "👣" );
.icon( usergroup,          "" );
.icon( contacts,           "📇" );
.icon( userprofile,        "" );
.icon( cart,               "" );
.icon( shoppingbag,        "🛍" );
.icon( gift,               "🎁" );
.icon( store,              "🏪" );
.icon( barcode,            "" );
.icon( creditcard,         "💳" );
.icon( creditcards,        "" );
.icon( banknote,           "💵" );
.icon( currency,           "💱" );
.icon( piggybank,          "" );
.icon( calculator,         "🖩" );
.icon( tally,              "" );
.icon( bank,               "🏦" );
.icon( scales,             "⚖" );
.icon( gavel,              "" );
.icon( meeting,            "" );
.icon( presentation,       "" );
.icon( piechart,           "" );
.icon( barchart,           "📊" );
.icon( activity,           "" );
.icon( flowchart,          "" );
.icon( stock,              "🗠" );
.icon( box,                "📦" );
.icon( crate,              "" );
.icon( handtruck,          "" );
.icon( home,               "⌂" );
.icon( fence,              "" );
.icon( buildings,          "🏢" );
.icon( hotel,              "🏨" );
.icon( warehouse,          "" );
.icon( castle,             "🏰" );
.icon( globe,              "🌐" );
.icon( earth,              "🌎" );
.icon( navigate,           "" );
.icon( compassnavigate,    "" );
.icon( compass,            "" );
.icon( signpost,           "" );
.icon( map,                "" );
.icon( location,           "" );
.icon( pin,                "📍" );
.icon( pushpin,            "📌" );
.icon( maplocation,        "" );
.icon( floppydisk,         "💾" );
.icon( puzzle,             "" );
.icon( install,            "" );
.icon( window,             "🗔" );
.icon( windows,            "🗗" );
.icon( commandline,        "" );
.icon( bug,                "🐛" );
.icon( database,           "" );
.icon( music,              "♫" );
.icon( eighthnote,         "♪" );
.icon( guitar,             "🎸" );
.icon( piano,              "🎹" );
.icon( pianokeys,          "" );
.icon( trumpet,            "🎺" );
.icon( mic,                "🎤" );
.icon( studiomic,          "🎙" );
.icon( headphones,         "🎧" );
.icon( mutevolume,         "" );
.icon( volume,             "🔈" );
.icon( lowvolume,          "🔉" );
.icon( highvolume,         "🔊" );
.icon( ipod,               "" );
.icon( stereo,             "" );
.icon( speaker,            "" );
.icon( vinylrecord,        "" );
.icon( disc,               "💿" );
.icon( playlist,           "" );
.icon( airplay,            "" );
.icon( camera,             "📷" );
.icon( picture,            "🌄" );
.icon( pictures,           "" );
.icon( video,              "📹" );
.icon( film,               "🎞" );
.icon( filmroll,           "" );
.icon( widescreenfilm,     "" );
.icon( clapboard,          "🎬" );
.icon( tv,                 "📺" );
.icon( flatscreen,         "" );
.icon( videogame,          "🎮" );
.icon( repeat,             "🔁" );
.icon( replay,             "↺" );
.icon( shuffle,            "🔀" );
.icon( filecabinet,        "🗄" );
.icon( storagebox,         "" );
.icon( index,              "🗂" );
.icon( page,               "📃" );
.icon( book,               "📕" );
.icon( openbook,           "📖" );
.icon( notebook,           "📓" );
.icon( spiralbound,        "🗒" );
.icon( newspaper,          "📰" );
.icon( notepad,            "" );
.icon( cards,              "" );
.icon( notice,             "" );
.icon( grid,               "" );
.icon( rows,               "" );
.icon( menu,               "" );
.icon( filter,             "" );
.icon( ascending,          "" );
.icon( descending,         "" );
.icon( desktop,            "💻" );
.icon( laptop,             "" );
.icon( tablet,             "" );
.icon( smartphone,         "" );
.icon( cell,               "📱" );
.icon( battery,            "🔋" );
.icon( door,               "🚪" );
.icon( washer,             "" );
.icon( birdhouse,          "" );
.icon( doghouse,           "" );
.icon( lightbulb,          "💡" );
.icon( lamp,               "" );
.icon( spraycan,           "" );
.icon( spraybottle,        "" );
.icon( chair,              "" );
.icon( frame,              "🖼" );
.icon( flowerframe,        "" );
.icon( atom,               "⚛" );
.icon( telescope,          "🔭" );
.icon( balloon,            "🎈" );
.icon( fuzzydice,          "" );
.icon( magiclamp,          "" );
.icon( slingshot,          "" );
.icon( bomb,               "💣" );
.icon( gun,                "🔫" );
.icon( sword,              "" );
.icon( swords,             "⚔" );
.icon( bowandarrow,        "" );
.icon( targetdummy,        "" );
.icon( downloadcloud,      "" );
.icon( download,           "" );
.icon( downloadbox,        "" );
.icon( uploadcloud,        "" );
.icon( upload,             "" );
.icon( merge,              "" );
.icon( fork,               "" );
.icon( joinpath,           "" );
.icon( splitpath,          "" );
.icon( forkpath,           "" );
.icon( refresh,            "↻" );
.icon( sync,               "🗘" );
.icon( wifi,               "" );
.icon( connection,         "" );
.icon( file,               "📄" );
.icon( files,              "" );
.icon( folder,             "📁" );
.icon( anchor,             "⚓" );
.icon( print,              "⎙" );
.icon( list,               "" );
.icon( starlist,           "" );
.icon( layout,             "" );
.icon( twoup,              "" );
.icon( threeup,            "" );
.icon( fourup,             "" );
.icon( action,             "" );
.icon( expand,             "⤢" );
.icon( contract,           "" );
.icon( lifepreserver,      "" );
.icon( help,               "❓" );
.icon( info,               "ℹ" );
.icon( alert,              "⚠" );
.icon( plus,               "+" );
.icon( hyphen,             "-" );
.icon( check,              "✓" );
.icon( fish,               "🐟" );
.icon( whale,              "🐋" );
.icon( bird,               "🐦" );
.icon( pawprint,           "" );
.icon( bone,               "" );
.icon( tree,               "🌲" );
.icon( flower,             "⚘" );
.icon( gem,                "💎" );
.icon( mountains,          "⛰" );
.icon( settings,           "⚙" );
.icon( dashboard,          "" );
.icon( dial,               "" );
.icon( notifications,      "🔔" );
.icon( toggles,            "🎚" );
.icon( switch,             "" );
.icon( brightness,         "🔆" );
.icon( contrast,           "◐" );
.icon( flash,              "⌁" );
.icon( magnet,             "" );
.icon( level,              "" );
.icon( toolbox,            "" );
.icon( hammer,             "🔨" );
.icon( wrench,             "🔧" );
.icon( nut,                "🔩" );
.icon( screw,              "" );
.icon( clock,              "⏲" );
.icon( stopwatch,          "⏱" );
.icon( alarmclock,         "⏰" );
.icon( counterclockwise,   "⥀" );
.icon( calendar,           "📅" );
.icon( food,               "" );
.icon( egg,                "" );
.icon( chickenleg,         "🍗" );
.icon( pizza,              "🍕" );
.icon( birthdaycake,       "🎂" );
.icon( icecream,           "🍨" );
.icon( popsicle,           "" );
.icon( coffee,             "" );
.icon( mug,                "☕" );
.icon( beer,               "🍺" );
.icon( bottle,             "" );
.icon( wineglass,          "🍷" );
.icon( wine,               "" );
.icon( cocktail,           "🍸" );
.icon( cup,                "" );
.icon( waterbottle,        "" );
.icon( utensils,           "🍴" );
.icon( measuringcup,       "" );
.icon( helmet,             "" );
.icon( graduationcap,      "🎓" );
.icon( glasses,            "👓" );
.icon( sunglasses,         "🕶" );
.icon( tie,                "" );
.icon( bowtie,             "" );
.icon( tshirt,             "👕" );
.icon( jersey,             "" );
.icon( sock,               "" );
.icon( handbag,            "👜" );
.icon( briefcase,          "💼" );
.icon( messengerbag,       "" );
.icon( hanger,             "" );
.icon( safetypin,          "" );
.icon( thermometer,        "" );
.icon( cloud,              "☁" );
.icon( sun,                "☀" );
.icon( partlycloud,        "⛅" );
.icon( rain,               "🌧" );
.icon( thunderstorm,       "⛈" );
.icon( snow,               "🌨" );
.icon( umbrella,           "☂" );
.icon( crescentmoon,       "🌙" );
.icon( planet,             "" );
.icon( recycle,            "♲" );
.icon( outlet,             "" );
.icon( car,                "🚘" );
.icon( train,              "🚆" );
.icon( bus,                "🚍" );
.icon( trailer,            "" );
.icon( plane,              "✈" );
.icon( boat,               "🚢" );
.icon( sailboat,           "⛵" );
.icon( boat,               "🚢" );
.icon( schooner,           "" );
.icon( rocket,             "🚀" );
.icon( satellite,          "🛰" );
.icon( ufo,                "" );
.icon( helm,               "⎈" );
.icon( fuel,               "⛽" );
.icon( firehydrant,        "" );
.icon( theatre,            "🎭" );
.icon( ticket,             "🎫" );
.icon( golf,               "⛳" );
.icon( golfshot,           "" );
.icon( basketball,         "🏀" );
.icon( hockeymask,         "" );
.icon( billiards,          "🎱" );
.icon( baseball,           "⚾" );
.icon( baseballfield,      "" );
.icon( tennis,             "🎾" );
.icon( tabletennis,        "" );
.icon( boxing,             "" );
.icon( bowling,            "" );
.icon( football,           "🏈" );
.icon( soccer,             "⚽" );
.icon( dumbell,            "" );
.icon( fishhook,           "" );
.icon( gameplan,           "" );
.icon( hiker,              "" );
.icon( runner,             "🏃" );
.icon( pedestrian,         "🚶" );
.icon( callbell,           "🛎" );
.icon( shower,             "🚿" );
.icon( bandage,            "" );
.icon( pill,               "💊" );
.icon( flask,              "" );
.icon( testtube,           "" );
.icon( pulse,              "" );
.icon( up,                 "⬆" );
.icon( right,              "➡" );
.icon( down,               "⬇" );
.icon( left,               "⬅" );
.icon( rightward,          "" );
.icon( leftward,           "" );
.icon( squiggle,           "⇝" );
.icon( retweet,            "" );

// Icons (SVG)
.icon( location,             "701-location" );
.icon( share,                "702-share" );
.icon( download,             "703-download" );
.icon( compose,              "704-compose" );
.icon( photos,               "705-photos" );
.icon( cloud,                "706-cloud" );
.icon( albums,               "707-albums" );
.icon( search,               "708-search" );
.icon( plus,                 "709-plus" );
.icon( folder,               "710-folder" );
.icon( trash,                "711-trash" );
.icon( reply,                "712-reply" );
.icon( refresh-1,            "713-refresh-1" );
.icon( camera,               "714-camera" );
.icon( globe,                "715-globe" );
.icon( stopwatch-1,          "716-stopwatch-1" );
.icon( flag,                 "717-flag" );
.icon( timer-1,              "718-timer-1" );
.icon( alarm-clock,          "719-alarm-clock" );
.icon( keyhole,              "720-keyhole" );
.icon( bookmarks,            "721-bookmarks" );
.icon( location-pin,         "722-location-pin" );
.icon( location-arrow,       "723-location-arrow" );
.icon( info,                 "724-info" );
.icon( airplay,              "725-airplay" );
.icon( star,                 "726-star" );
.icon( more,                 "727-more" );
.icon( clock,                "728-clock" );
.icon( list,                 "729-top-list" );
.icon( envelope,             "730-envelope" );
.icon( cloud-download,       "731-cloud-download" );
.icon( cloud-upload,         "732-cloud-upload" );
.icon( video-camera,         "733-video-camera" );
.icon( chat,                 "734-chat" );
.icon( phone,                "735-phone" );
.icon( zoom-in,              "736-zoom-in" );
.icon( zoom-out,             "737-zoom-out" );
.icon( document-1,           "738-document-1" );
.icon( question,             "739-question" );
.icon( gear,                 "740-gear" );
.icon( box,                  "741-box" );
.icon( wrench,               "742-wrench" );
.icon( printer,              "743-printer" );
.icon( locked,               "744-locked" );
.icon( unlocked,             "745-unlocked" );
.icon( plus-circle,          "746-plus-circle" );
.icon( tag,                  "747-tag" );
.icon( heart,                "748-heart" );
.icon( inbox,                "749-inbox" );
.icon( home,                 "750-home" );
.icon( eye,                  "751-eye" );
.icon( credit-card,          "752-credit-card" );
.icon( signpost,             "753-signpost" );
.icon( scale,                "754-scale" );
.icon( filing-cabinet,       "755-filing-cabinet" );
.icon( bell,                 "756-bell" );
.icon( paper-airplane,       "757-paper-airplane" );
.icon( megaphone,            "758-megaphone" );
.icon( refresh-2,            "759-refresh-2" );
.icon( refresh-3,            "760-refresh-3" );
.icon( gift,                 "761-gift" );
.icon( shopping-bag,         "762-shopping-bag" );
.icon( arrow-up,             "763-arrow-up" );
.icon( arrow-down,           "764-arrow-down" );
.icon( arrow-left,           "765-arrow-left" );
.icon( arrow-right,          "766-arrow-right" );
.icon( photo-1,              "767-photo-1" );
.icon( female,               "768-female" );
.icon( male,                 "769-male" );
.icon( paperclip,            "770-paper-clip" );
.icon( sound-muted,          "771-sound-muted" );
.icon( sound-1,              "772-sound-1" );
.icon( sound-2,              "773-sound-2" );
.icon( sound-3,              "774-sound-3" );
.icon( scissors,             "775-scissors" );
.icon( recycle,              "776-recycle" );
.icon( thumbs-up,            "777-thumbs-up" );
.icon( thumbs-down,          "778-thumbs-down" );
.icon( users,                "779-users" );
.icon( building,             "780-building" );
.icon( ships-wheel,          "781-ships-wheel" );
.icon( compass,              "782-compass" );
.icon( combination-lock,     "783-combination-lock" );
.icon( target,               "784-target" );
.icon( floppy-disk,          "785-floppy-disk" );
.icon( browser,              "786-browser" );
.icon( browser-windows,      "787-browser-windows" );
.icon( video-film-strip,     "788-video-film-strip" );
.icon( map-location,         "789-map-location" );
.icon( golf,                 "790-golf" );
.icon( warning,              "791-warning" );
.icon( tv,                   "792-tv" );
.icon( service-bell,         "793-service-bell" );
.icon( chart,                "794-chart" );
.icon( gauge,                "795-gauge" );
.icon( clock-2,              "796-clock-2" );
.icon( archive,              "797-archive" );
.icon( filter,               "798-filter" );
.icon( beverage,             "799-beverage" );
.icon( umbrella,             "800-umbrella" );
.icon( bird-house,           "801-bird-house" );
.icon( dog-house,            "802-dog-house" );
.icon( large-house,          "803-large-house" );
.icon( mouse-cursor,         "804-mouse-cursor" );
.icon( mailbox,              "805-mailbox" );
.icon( parcel,               "806-parcel" );
.icon( package,              "807-package" );
.icon( documents,            "808-documents" );
.icon( clipboard,            "809-clipboard" );
.icon( document-2,           "810-document-2" );
.icon( download-box,         "811-download-box" );
.icon( hiking,               "812-hiking" );
.icon( train,                "813-train" );
.icon( bus,                  "814-bus" );
.icon( car,                  "815-car" );
.icon( satellite,            "816-satellite" );
.icon( costume,              "817-costume" );
.icon( flower-pot,           "818-flower-pot" );
.icon( washing-machine,      "819-washing-machine" );
.icon( bathtub,              "820-bathtub" );
.icon( stamp,                "821-stamp" );
.icon( photo-2,              "822-photo-2" );
.icon( birthday-cake,        "823-birthday-cake" );
.icon( headphone,            "824-headphone" );
.icon( microphone,           "825-microphone" );
.icon( money-1,              "826-money-1" );
.icon( money-2,              "827-money-2" );
.icon( shield,               "828-shield" );
.icon( safety-pin,           "829-safety-pin" );
.icon( pencil,               "830-pencil" );
.icon( stack-2,              "831-stack-2" );
.icon( stack-1,              "832-stack-1" );
.icon( diamond,              "833-diamond" );
.icon( bolt,                 "834-bolt" );
.icon( screw,                "835-screw" );
.icon( anchor,               "836-anchor" );
.icon( palette,              "837-palette" );
.icon( dice,                 "838-dice" );
.icon( mobile-phone,         "839-mobile-phone" );
.icon( stopwatch-2,          "840-stopwatch-2" );
.icon( music-playlist,       "841-music-playlist" );
.icon( chat-bubbles,         "842-chat-bubbles" );
.icon( link,                 "843-link" );
.icon( trumpet,              "844-trumpet" );
.icon( location-target,      "845-location-target" );
.icon( sun-1,                "846-sun-1" );
.icon( moon,                 "847-moon" );
.icon( piano,                "848-piano" );
.icon( radar,                "849-radar" );
.icon( calculator,           "850-calculator" );
.icon( calendar,             "851-calendar" );
.icon( map,                  "852-map" );
.icon( fence,                "853-fence" );
.icon( list,                 "854-list" );
.icon( door,                 "855-door" );
.icon( lightning-bolt,       "856-lightning-bolt" );
.icon( rocket,               "857-rocket" );
.icon( line-chart,           "858-line-chart" );
.icon( bar-chart,            "859-bar-chart" );
.icon( glasses,              "860-glasses" );
.icon( sun-2,                "861-sun-2" );
.icon( sun-cloud,            "862-sun-cloud" );
.icon( cloud-2,              "863-cloud-2" );
.icon( rain-cloud,           "864-rain-cloud" );
.icon( storm-cloud,          "865-storm-cloud" );
.icon( snow-cloud,           "866-snow-cloud" );
.icon( swords,               "867-swords" );
.icon( atom,                 "868-atom" );
.icon( pin,                  "869-pin" );
.icon( smile,                "870-smile" );
.icon( handtruck,            "871-handtruck" );
.icon( podium,               "872-podium" );
.icon( magic-wand,           "873-magic-wand" );
.icon( newspaper,            "874-newspaper" );
.icon( skull,                "875-skull" );
.icon( store,                "876-store" );
.icon( slingshot,            "877-slingshot" );
.icon( binoculars,           "878-binoculars" );
.icon( mountains,            "879-mountains" );
.icon( bank,                 "880-bank" );
.icon( globe,                "881-globe" );
.icon( mug,                  "882-mug" );
.icon( beaker,               "883-beaker" );
.icon( ruler,                "884-ruler" );
.icon( trailer,              "885-trailer" );
.icon( ice-cream-cone,       "886-ice-cream-cone" );
.icon( notepad,              "887-notepad" );
.icon( checkmark,            "888-checkmark" );
.icon( sort-descending,      "889-sort-descending" );
.icon( sort-ascending,       "890-sort-ascending" );
.icon( shuffle,              "891-shuffle" );
.icon( bandaid,              "892-bandaid" );
.icon( airplane,             "893-airplane" );
.icon( t-shirt,              "894-t-shirt" );
.icon( user-group,           "895-user-group" );
.icon( road-sign,            "896-road-sign" );
.icon( graduation-cap,       "897-graduation-cap" );
.icon( music-note,           "898-music-note" );
.icon( key,                  "899-key" );
.icon( telescope,            "900-telescope" );
.icon( repeat,               "901-repeat" );
.icon( repeat-infinite,      "902-repeat-infinite" );
.icon( squiggle,             "903-squiggle" );
.icon( shuffle,              "904-shuffle" );
.icon( chat-2,               "905-chat-2" );
.icon( chat-3,               "906-chat-3" );
.icon( plus-rounded-square,  "907-plus-rounded-square" );
.icon( target,               "908-target" );
.icon( tags,                 "909-tags" );
.icon( graph,                "910-graph" );
.icon( bottle,               "911-bottle" );
.icon( gears,                "912-gears" );
.icon( skull,                "913-skull" );
.icon( skull-and-crossbones, "914-skull-and-crossbones" );
.icon( bird,                 "915-bird" );
.icon( planet,               "916-planet" );
.icon( speedometer,          "917-speedometer" );
.icon( ipod-classic,         "918-ipod-classic" );
.icon( ipod-touch,           "919-ipod-touch" );
.icon( handbag,              "920-handbag" );
.icon( toolbox,              "921-toolbox" );
.icon( suitcase,             "922-suitcase" );
.icon( spraycan,             "923-spray-can" );
.icon( inbox-download,       "924-inbox-download" );
.icon( picture,              "925-picture" );
.icon( photos,               "926-photos" );
.icon( film-roll,            "927-film-roll" );
.icon( inbox-files,          "928-inbox-files" );
.icon( film-1,               "929-film-1" );
.icon( film-2,               "930-film-2" );
.icon( gas-pump,             "931-gas-pump" );
.icon( utensils,             "932-utensils" );
.icon( battery,              "933-battery" );
.icon( measuring-cup,        "934-measuring-cup" );
.icon( power-socket,         "935-power-socket" );
.icon( tree,                 "936-tree" );
.icon( wifi-signal,          "937-wifi-signal" );
.icon( connections,          "938-connections" );
.icon( download-rectangle,   "939-download-rectangle" );
.icon( pin,                  "940-pin" );
.icon( brightness,           "941-brightness" );
.icon( contrast,             "942-contrast" );
.icon( running-man,          "943-running-man" );
.icon( walking-man,          "944-walking-man" );
.icon( radar,                "945-radar" );
.icon( microphone,           "946-microphone" );
.icon( target-reticle,       "947-target-reticle" );
.icon( music-note,           "948-music-note" );
.icon( paint-brush,          "949-paint-brush" );
.icon( ekg,                  "950-ekg" );
.icon( baby,                 "951-baby" );
.icon( shopping-cart,        "952-shopping-cart" );
.icon( paw-print,            "953-paw-print" );
.icon( light-bulb,           "954-light-bulb" );
.icon( trophy,               "955-trophy" );
.icon( wine-glass,           "956-wine-glass" );
.icon( beer-mug,             "957-beer-mug" );
.icon( life-preserver,       "958-life-preserver" );
.icon( thermometer,          "959-thermometer" );
.icon( pill,                 "960-pill" );
.icon( book-32,              "961-book-32" );
.icon( puzzle-piece,         "962-puzzle-piece" );
.icon( coffee-cup,           "963-coffee-cup" );
.icon( game-plan,            "964-game-plan" );
.icon( lightning-bolt,       "965-lightning-bolt" );
.icon( contact-cards,        "966-contact-cards" );
.icon( piano,                "967-piano" );
.icon( sliders,              "968-sliders" );
.icon( television,           "969-television" );
.icon( medal,                "970-medal" );
.icon( chicken-leg,          "971-chicken-leg" );
.icon( bug,                  "972-bug" );
.icon( user,                 "973-user" );
.icon( users,                "974-users" );
.icon( balloon,              "975-balloon" );
.icon( bow-and-arrow,        "976-bow-and-arrow" );
.icon( checkbox,             "977-checkbox" );
.icon( coat-hanger,          "978-coat-hanger" );
.icon( piggy-bank,           "979-piggy-bank" );
.icon( spraybottle,          "980-spraybottle" );
.icon( contact-card,         "981-contact-card" );
.icon( food,                 "982-food" );
.icon( sock,                 "983-sock" );
.icon( bone,                 "984-bone" );
.icon( castle,               "985-castle" );
.icon( ghost,                "986-ghost" );
.icon( ufo,                  "987-ufo" );
.icon( helmet,               "988-helmet" );
.icon( hockey-mask,          "989-hockey-mask" );
.icon( presentation,         "990-presentation" );
.icon( test-tube,            "991-test-tube" );
.icon( lamp,                 "992-lamp" );
.icon( wine-bottle,          "993-wine-bottle" );
.icon( rum-jug,              "994-rum-jug" );
.icon( martini-glass,        "995-martini-glass" );
.icon( gavel,                "996-gavel" );
.icon( popsicle,             "997-popsicle" );
.icon( sail-boat,            "998-sail-boat" );
.icon( contact-card,         "999-contact-card-2" );
.icon( guitar,               "1000-guitar" );
.icon( neck-tie,             "1001-neck-tie" );
.icon( bow-tie,              "1002-bow-tie" );
.icon( game-controller,      "1003-game-controller" );
.icon( voicemail,            "1004-voicemail" );
.icon( glasses,              "1005-glasses" );
.icon( eight-ball,           "1006-eight-ball" );
.icon( price-tag,            "1007-price-tag" );
.icon( desktop,              "1008-desktop" );
.icon( laptop,               "1009-laptop" );
.icon( tablet,               "1010-tablet" );
.icon( notepad,              "1011-notepad" );
.icon( sticky-note,          "1012-sticky-note" );
.icon( hammer,               "1013-hammer" );
.icon( messenger-bag,        "1014-messenger-bag" );
.icon( magic-lamp,           "1015-magic-lamp" );
.icon( handgun,              "1016-handgun" );
.icon( paint-roller,         "1017-paint-roller" );
.icon( box,                  "1018-box" );
.icon( music-note-2,         "1019-music-note-2" );
.icon( barcode,              "1020-barcode" );
.icon( radiation,            "1021-radiation" );
.icon( factory,              "1022-factory" );
.icon( airplay-speaker,      "1023-airplay-speaker" );
.icon( share,                "1024-share" );
.icon( reply-all,            "1025-reply-all" );
.icon( revert,               "1026-revert" );
.icon( magnet,               "1027-magnet" );
.icon( whale,                "1028-whale" );
.icon( fish,                 "1029-fish" );
.icon( globe,                "1030-globe" );
.icon( stamp,                "1031-stamp" );
.icon( route,                "1032-route" );
.icon( dance-steps,          "1033-dance-steps" );
.icon( sign,                 "1034-sign" );
.icon( pie-chart,            "1035-pie-chart" );
.icon( sword,                "1036-sword" );
.icon( fish-hook,            "1037-fish-hook" );
.icon( barrier,              "1038-barrier" );
.icon( files-box,            "1039-files-box" );
.icon( checkmark,            "1040-checkmark" );
.icon( count,                "1041-count" );
.icon( album,                "1042-album" );
.icon( disc,                 "1043-album-disc" );
.icon( drama-masks,          "1044-drama-masks" );
.icon( clapboard,            "1045-clapboard" );
.icon( crown,                "1046-crown" );
.icon( credit-cards,         "1047-credit-cards" );
.icon( bomb,                 "1048-bomb" );
.icon( at-sign,              "1049-at-sign" );
.icon( retweet,              "1050-retweet" );
.icon( id-badge,             "1051-id-badge" );
.icon( database,             "1052-database" );
.icon( pizza,                "1053-pizza" );
.icon( speaker,              "1054-speaker" );
.icon( ticket,               "1055-ticket" );
.icon( org-chart,            "1056-org-chart" );
.icon( ufo-2,                "1057-ufo-2" );
.icon( fire-hydrant,         "1058-fire-hydrant" );
.icon( sliders,              "1059-sliders" );
.icon( switches,             "1060-switches" );
.icon( golf-shot,            "1061-golf-shot" );
.icon( layers-2,             "1062-layers-2" );
.icon( layers-3,             "1063-layers-3" );
.icon( layers-4,             "1064-layers-4" );
.icon( rewind-time-1,        "1065-rewind-time-1" );
.icon( fried-egg,            "1066-fried-egg" );
.icon( enter-fullscreen,     "1067-enter-fullscreen" );
.icon( exit-fullscreen,      "1068-exit-fullscreen" );
.icon( basketball-shirt,     "1069-basketball-shirt" );
.icon( directors-chair,      "1070-directors-chair" );
.icon( target-dummy,         "1071-target-dummy" );
.icon( terminal,             "1072-terminal" );
.icon( grid-1,               "1073-grid-1" );
.icon( grid-2,               "1074-grid-2" );
.icon( grid-3,               "1075-grid-3" );
.icon( grid-4,               "1076-grid-4" );
.icon( split-path,           "1077-split-path" );
.icon( join-path,            "1078-join-path" );
.icon( fork-path,            "1079-fork-path" );
.icon( film-strip,           "1080-film-strip" );
.icon( branch,               "1081-branch" );
.icon( merge,                "1082-merge" );
.icon( baseball-field,       "1083-baseball-field" );
.icon( baseball,             "1084-baseball" );
.icon( football,             "1085-football" );
.icon( basketball,           "1086-basketball" );
.icon( soccer-ball,          "1087-soccer-ball" );
.icon( tennis-ball,          "1088-tennis-ball" );
.icon( bowling-ball,         "1089-bowling-ball" );
.icon( ping-pong-paddle,     "1090-ping-pong-paddle" );
.icon( weights,              "1091-weights" );
.icon( boxing-glove,         "1092-boxing-glove" );
.icon( lightning-bolt-2,     "1093-lightning-bolt-2" );
.icon( sail-boat-2,          "1094-sail-boat-2" );
.icon( viking-ship,          "1095-viking-ship" );
.icon( direction-arrow,      "1096-direction-arrow" );
.icon( timer-2,              "1097-timer-2" );
.icon( level,                "1098-level" );
.icon( list-1,               "1099-list-1" );
.icon( list-2,               "1100-list-2" );